
/* Publish Panel */

.field-geocoding .frame {
	display: flex;
	justify-content: space-between;
}

.field-geocoding .coordinates {
	width: 100%;
	min-width: 50%;
	margin-left: .5rem;
	flex-grow: 1;
}

.field-geocoding .map {
	position: relative;
	overflow: hidden;
	width: 50%;
	max-width: 20rem;
	min-width: 10rem;
	margin-right: .5rem;
	border: .1rem solid #C5C5C5;
	flex-grow: -1;
}

.field-geocoding img {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	transform: translate(-50%,-50%);
}

.field-geocoding > label {
	margin-bottom: .2rem;
}

.field-geocoding .frame div label + label {
	margin-bottom: 0;
}

/* Publish Table */

.field-geocoding .map-table {
	display: inline-block;
	position: relative;
	overflow: hidden;
	width: 9.3rem;
	height: 9.3rem;
	padding: 0 !important;
	vertical-align: middle;
	box-shadow: 0 0 .5rem rgba(0,0,0,.25);
	border-bottom: none !important;
	transition: box-shadow 200ms ease;
}

.field-geocoding .map-table:hover {
	box-shadow: 0 0 .5rem rgba(0,0,0,.4);
}

.field-geocoding .map-table img {
	width: 120%;
}

